@{
    ViewBag.Title = "Main Page";
}

<div class="jumbotron">
    <p class="lead">Добро пожаловать!</p>
    <p><a href="https://localhost:44384/Account/Login" class="btn btn-primary btn-lg">Войти &raquo;</a></p>
</div>

