
@{
    ViewBag.Title = "View1";
}

<h2>View with two placeholders</h2>

@section placeholder_1 {
    <span>Custom placeholder_1 content</span>
}

@section placeholder_2 {
    <span>Custom placeholder_2 content</span>
}